@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");

@font-face {
    font-family: 'Satoshi';
    src: url('assets/Fonts/WEB/fonts/Satoshi-Black.ttf') format('ttf'),
}


body {
    font-family: 'Satoshi', sans-serif;
    height: 100vh;
}

#section-hero{
    background-image: url(assets/images/Julien_CASTRO-removebg-preview.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 50px;
}