/* Existing CSS imports and font-face omitted for brevity */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Satoshi', sans-serif;
    height: 100vh;
}

.glass-effect {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.lhalf-circle {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background-color: #FEB273;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#section-service {
    height: 85vh;
    background-image: url('assets/images/service/fond-noit-orange.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
}

.image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    border-radius: 50px;
}

.svg-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: fade 6s infinite;
    top: 0;
    left: 0;
    border-radius: 50px;
}

.svg-image:nth-child(2) {
    animation-delay: 3s;
}

@keyframes fade {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.banner-container {
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
    margin-top: 20px;
}

.banner {
    display: flex;
    width: 150%;
    height: 100%;
    animation: marquee 10s linear infinite;
}

.banner img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    margin-right: -20px;
}

/* Added for the infinite marquee animation */
.marquee-container {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.marquee {
    display: flex;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
}

.marquee-content {
    display: flex;
}

.marquee img {
    width: 20%;
    margin-right: 10px;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}
