@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");

@font-face {
    font-family: 'Satoshi';
    src: url('assets/Fonts/WEB/fonts/Satoshi-Black.ttf') format('ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Satoshi', sans-serif;
    height: 100vh;
}

.glass-effect {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.lhalf-circle {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background-color: #FEB273;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#section-service {
    height: 70vh;
    background-image: url('assets/images/service/fond-noit-orange.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    position: relative;
    border-radius: 50px; /* Adding more rounded corners */
    overflow: hidden; /* Ensure the background doesn't exceed the borders */
}

.image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    border-radius: 50px; /* Ensure the images follow the rounded corners */
}

.svg-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the SVG covers the container */
    opacity: 0;
    animation: fade 6s infinite;
    top: 0;
    left: 0;
    border-radius: 50px; /* Match the section's border-radius */
}

.svg-image:nth-child(2) {
    animation-delay: 3s;
}

@keyframes fade {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.banner-container {
    position: relative;
    width: 100%;
    height: 150px; /* Adjust according to your image height */
    overflow: hidden;
    margin-top: 20px; /* Adjust as needed */
}

.banner {
    position: absolute;
    width: 200%; /* Adjust to ensure the image covers the container */
    height: 200%; /* Adjust to ensure the image covers the container */
    background-size: contain;
    background-position: center;
    animation: slide 10s infinite linear;
}

@keyframes slide {
    0% {
        transform: translate(-50%, -50%);
        background-image: url('assets/images/banner/Property 1=Frame 326.png');
    }
    50% {
        transform: translate(50%, 50%);
        background-image: url('assets/images/banner/Property 1=Frame 327.png');
    }
    100% {
        transform: translate(-50%, -50%);
        background-image: url('assets/images/banner/Property 1=Frame 326.png');
    }
}
